<div id="home_img">
  <div class="container">
    <div class="row">
    <div id="bigBox" class="col-lg-6 col-lg-offset-3">
      <div id="bigBoxContent">

        <div id="welcome-message">
      	  <h3>Welcome To</h3>
      	  <h1>Free at Noon</h1>
      	  <p>We’re a group of people at Penn who want to take advantage of our random windows of free of time — to meet new people and to keep up with friends.</p>
      	  <p>It’s a pain to schedule that stuff though. This tool takes the hassle out of seeing if anyone is free when you are. Join us!</p>
      	  <%= link_to "Join the Group", "#", id: "join-group-button", class: "btn" %>
        </div>


        <div id="user-info-form">
          <h2>Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true %></div>

          <div><%= f.label :last_name %><br />
            <%= f.text_field :last_name %></div>

          <div><%= f.label :phone_number %><br />
            <%= f.text_field :phone_number %></div>

          <div><%= f.label :email %><br />
            <%= f.email_field :email %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %></div>

          <div><%= f.submit "Continue", class: "btn btn-default", id: "continue-button" %></div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>

        <div id="time-info-form">
          <h2> When are you NOT available? </h2>
          <input type="checkbox" value="2014-05-06"> Wednesday (5/6) <br />
          <input type="checkbox" value="2014-05-07"> Thursday (5/7) <br />
          <input type="checkbox" value="2014-05-08"> Friday (5/8) <br />
          <input type="checkbox" value="2014-05-09"> Saturday (5/9) <br />
          <input type="checkbox" value="2014-05-10"> Sunday (5/10) <br />
          <input type="checkbox" value="2014-05-11"> Monday (5/11) <br />
          <input type="checkbox" value="2014-05-12"> Tuesday (5/12) <br />
          <h2> When are you leaving campus? </h2>
          <input type="date" id="leaving-date"> <br />
	  <%= link_to "Submit", "#", id: "submit-button", class: "btn btn-default" %>
        </div>



      </div>
    </div>
    </div>
    <div class="row">
        <footer>Made by Penn students.</footer>
    </div>
  </div>
</div>
