<div id="home_img">
  <div class="container">
    <div class="row">
    <div id="bigBox" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <div id="bigBoxContent">

        <div id="welcome-message">
      	  <h3>Welcome To</h3>
      	  <h1>Free at Noon</h1>
      	  <p>We’re a group of people at Penn who want to take advantage of our random windows of free of time — to meet new people and to keep up with friends.</p>
      	  <p>It’s a pain to schedule that stuff though. This tool takes the hassle out of seeing if anyone is free when you are. Join us!</p>
      	  <%= link_to "Join the Group", "#", id: "join-group-button", class: "btn" %>
        </div>

        <div id="user-info-form">
          <h2>Woohoo! Welcome.</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :first_name, id: "user-info-form-label" %><br />
            <%= f.text_field :first_name, autofocus: true, type: "text", placeholder: "Jon" %></div>

          <div><%= f.label :last_name, id: "user-info-form-label" %><br />
            <%= f.text_field :last_name, type: "text", placeholder: "Huntsman" %></div>

          <div><%= f.label :phone_number, id: "user-info-form-label" %><br />
            <%= f.text_field :phone_number, type: "tel", placeholder: "650-291-3866" %></div>

          <div><%= f.label :email, id: "user-info-form-label" %><br />
            <%= f.email_field :email, type: "email", placeholder: "jon.huntsman97@aol.net" %></div>

          <div><%= f.label :password, id: "user-info-form-label" %><br />
            <%= f.password_field :password, type: "password", autocomplete: "off", placeholder: "*********" %></div>

          <div><%= f.submit "Continue", id: "continue-button" %></div>
        <% end %>
        </div>

        <form id="time-info-form">
          <h2> When are you <span style="color:#000">not</span> available? </h2>
          <div id="time-info-form-answers-top">
            <input type="checkbox" value="2014-05-06"> Wednesday (5/6) <br />
            <input type="checkbox" value="2014-05-07"> Thursday (5/7) <br />
            <input type="checkbox" value="2014-05-08"> Friday (5/8) <br />
            <input type="checkbox" value="2014-05-09"> Saturday (5/9) <br />
            <input type="checkbox" value="2014-05-10"> Sunday (5/10) <br />
            <input type="checkbox" value="2014-05-11"> Monday (5/11) <br />
            <input type="checkbox" value="2014-05-12"> Tuesday (5/12) <br />
          </div>
            <h2> When do you leave campus? </h2>
          <div id="time-info-form-answers-bottom">
            <input type="date" id="leaving-date" value="2014=05-18"> <br />
          </div>
	  <%= link_to "That's it!", "#", id: "submit-button", class: "btn" %>
        </form>

        <div id="thankyou-message">
          <h2>You're a champion!</h2>
          <p>You did it! You're all signed up. Welcome to the gang.</p>
          <p>So what happens next? It's simple. On days that you're not-not free if the system sees a match, you'll get a text asking you if you're up for meeting someone for lunch at a prespecified time. You'll have 30 min to respond. If you say yes and they say yes, we'll put you in a text group and you two an find a place. That's it!</p>
          <p>Feel free to text us (650-291-3866) if you wanna chat about something, wanna set up a Free at Noon circle for a club, or have any other thoughts. Looking forward to seeing you for lunch!</p>
          <p>Oh, and make sure to check out <a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ">these etiquette guidelines</a> before your first meeting.</p>
        </br>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
        <footer>Made by Penn students.</footer>
    </div>
  </div>
</div>
