<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1> Users Admin Page </h1>
      <table class="table table-striped">
	<thead>
          <tr>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Leaving Date</th>
            <th>SMS Message</th>
          </tr>
	</thead>
	<tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.leaving_date %></td>
	    <td>
	      <%= form_for :sms, url: smses_path do |f| %>
	        <%= f.hidden_field :to, value: user.phone_number %>
	        <%= f.text_field :body %>
		<%= f.submit "Send" %>
	      <% end %>
	    </td>
          </tr>
          <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
