<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1> Users Admin Page </h1>
      <table class="table table-striped">
	<thead>
          <tr>
            <th>Joined</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Leaving</th>
            <th class="bad-day-cell">T</th>
            <th class="bad-day-cell">F</th>
            <th class="bad-day-cell">S</th>
            <th class="bad-day-cell">S</th>
            <th class="bad-day-cell">M</th>
            <th class="bad-day-cell">T</th>
            <th class="bad-day-cell">W</th>
            <th>Actions</th>
          </tr>
	</thead>
	<tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.created_at.strftime("%b %d") %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.leaving_date.strftime("%b %d") if user.leaving_date %></td>
            <% (8..14).each do |day| %>
              <td class="bad-day-cell">
                <%= user.bad_dates_set.include?("#{day}/05/2014".to_date) ? "T" : "F" %>
              </td>
            <% end %>
            <td><%= link_to 'Destroy', user_path(user),
                    data: {confirm: "Are you sure you want to delete #{user.full_name}'s account?"},
                    method: :delete %></td>
          </tr>
          <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
