<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1> Users Admin Page </h1>
      <table class="table table-striped">
	<thead>
          <tr>
            <th>Joined</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Reply</th>
            <th class="bad-day-cell">S</th>
            <th class="bad-day-cell">M</th>
            <th class="bad-day-cell">T</th>
            <th class="bad-day-cell">W</th>
            <th class="bad-day-cell">T</th>
            <th class="bad-day-cell">F</th>
            <th class="bad-day-cell">S</th>
            <th>Actions</th>
          </tr>
	</thead>
	<tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="ftime"><%= user.created_at.strftime("%b %d %I:%M%p") %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= if user.response.nil?
                      "None"
                    elsif user.response
                      "YES"
                    else
                      "NO"
                    end %></td>
            <% (0..6).each do |day| %>
              <td class="bad-day-cell">
                <%= user.available_day?(day) ? "A" : "U" %>
              </td>
            <% end %>
            <td><%= link_to 'Destroy', user_path(user),
                    data: {confirm: "Are you sure you want to delete #{user.full_name}'s account?"},
                    method: :delete %></td>
            <% if user.mute  %>
              <td><%= link_to 'Unmute', toggle_mute_user_path(user), method: :post %></td>
            <% else %>
              <td><%= link_to 'Mute', toggle_mute_user_path(user), method: :post %></td>
            <% end %>
          </tr>
          <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
